
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: vw(16, 375);

  @media (--xs) {
    font-size: vw(16, 576);
  }

  @media (--sm) {
    font-size: vw(16, 768);
  }

  @media (--md) {
    font-size: 16px;
  }
}
